/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.h1 {
  font-size: 4em;
  font-weight: bold;
  color: #FFFFFF;
  margin: 40px 0px 100px;
  text-align: center;
}

.labelText {
    font-size: 1.25em;
	color: #FFFFFF;
}

.logInMargin{
	     margin-bottom:5px;
}

.homeBackground {
	   background-image:url('images/mars1.jpg');
	   background-position: center;
	   max-width: 100%;
	   height: auto; 
}

.gwt-ProgressBar-shell {
  border: 2px solid #faf9f7;
  border-right: 2px solid #848280;
  border-bottom: 2px solid #848280;
  background-color: #AAAAAA;
  height: 14pt;
  width: 50%;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-bar {
  background-color: #67A7E3;
}

.gwt-ProgressBar-shell .gwt-ProgressBar-text {
  padding: 0px;
  margin: 0px;
  color: white;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

.buttonMargin {
	 margin-top:2px;
     margin-bottom:2px;
     margin-right:5px;
     margin-left:5px;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
  width: 400px;
}

.dialogVPanel {
  margin: 5px;
}

.panelMargin {
	margin-top:15px;
     margin-bottom:15px;
     margin-right:20px;
     margin-left:20px;
}

.textBoxMargin {
     margin-right:5px;
     margin-left:5px;
}

.tableAlign {
	text-align: center;
}

.listBoxMargin {
	 margin-top:2px;
     margin-bottom:2px;
     margin-right:5px;
     margin-left:5px;
}

.serverResponseLabelError {
  color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
  margin: 15px 6px 6px;
}
